<div class="flex flex-col w-full px-3 items-center justify-between">
    <div class="mb-5 flex flex-row w-full justify-center text-lg font-medium">
      Are you sure you want to delete this contact?
    </div>
    
    <div class="flex flex-row w-full justify-around gap-5 mt-2">
      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded flex-grow" (click)="closeClick()">Cancel</button>
      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded flex-grow" (click)="deletee()">Yes</button>
    </div>
  </div>
  